/* reset css */
body, div, span, h1, h2, h3, h4, p, pre,
abbr, address, cite, code, em, img,
ins, q, samp, strong, sub, sup, b, i,
dl, dt, dd, ol, ul, li, form, label,
table, tr, th, td, article, aside,
canvas, details, figcaption, figure,
footer, header, hgroup, nav, section, time {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

header {
  overflow: hidden;
}
ul {
  list-style: none;
}

input, select {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #5ca3d2;
  text-decoration: none; 
}

a:hover {
  color: #0063A6;
}

button, img {
  border: 0 none;
  background-color: transparent;
}

.hidden {
  display: none !important;
}

/* globe css */
html,
body {
  height: 100%;
}

body {
  font: 16px/1.5 "consolas", "\5FAE\8F6F\96C5\9ED1";
  -webkit-text-size-adjust: none;
}

code, pre {
  font-family: inherit;
}

code {
  margin: 0 3px;
}

pre {
  padding: 1em;
  margin: 8px 0;
}

pre span {
  font-family: inherit;
  color: #AC5820;
}

dt {
  margin: 8px 0;
  font-size: 14px;
  font-weight: bold;
  color: #404040;
}

.code-bg {
  padding: 1em;
  margin: 8px 0;
  border-radius: 3px;
  background-color: #fafafa;
  box-shadow: 0 0 2px #d0d0d0;
}
.clearfix {
	*zoom : 1;
}
.clearfix:before, .clearfix:after {
	content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.a-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*flex layout*/
.dis-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.row-flex {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.col-flex {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	box-pack: center;
	justify-content: center;
}
.cross-center {
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	box-align: center;
	align-items: center;
}
/*不放大*/
.flex-grow0 {
	-webkit-flex-grow: 0;
	flex-grow: 0;
}
/*不缩小*/
.flex-shrink0 {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}